{% extends 'base.html' %}
{% load static %}
<!--{% block title_brand %}-->
<!--Tableau de Bord-->
<!--{% endblock %}-->
{% block content %}
<!--<div class="row align-items-center">-->
<!--  <div class="col-lg-3 col-md-6 col-sm-6 align-self-center">-->
<!--              <div class="card card-stats">-->
<!--                <div class="card-header card-header-success card-header-icon">-->
<!--                  <div class="card-icon display-4 font-weight-bold">-->
<!--                    <span class="material-icons">-->
<!--                    query_builder-->
<!--                    </span>-->
<!--                  </div>-->
<!--                  <p class="card-category font-weight-bold m-0" style="font-size:1.4em">Heure actuelle</p>-->
<!--                  <h3 class="card-title" style="font-size:1.3em"> <span id="timeValue"></span>-->
<!--                  </h3>-->
<!--                </div>-->
<!--              </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row mt-4">
  <button class="btn btn-warning" data-toggle="modal" data-target="#limiteModal">
    Plages températures <span class="material-icons">tune</span>
  </button>
  <button class="btn btn-success" data-toggle="modal" data-target="#margeModal">
    Marge stockage température <span class="material-icons">tune</span>
  </button>
</div>

<!--<div class="row">-->
<!--  <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--              <div class="card card-stats">-->
<!--                <div class="card-header card-header-warning card-header-icon">-->
<!--                  <div class="card-icon display-4 font-weight-bold">-->
<!--                    °C-->
<!--                  </div>-->
<!--                  <p class="card-category font-weight-bold">Température instantanée</p>-->
<!--                  <h3 class="card-title"> <span id="tempValue"></span> ᵒC-->
<!--                  </h3>-->
<!--                </div>-->
<!--              </div>-->
<!--</div>-->

<!--</div>-->
<div class="row align-items-center">
  <div class="col-md-10 col-lg-6 col-sm-12 h-100">
    <div class="card card-chart">
      <div class="card-header card-header-primary" style="background: linear-gradient(60deg, #2E3436, #000000);">
		<canvas id="canvas" data-url="{% url 'temp_api' %}"></canvas>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Température instantanée</h4>
        <p class="card-category">
      </div>
      <div class="card-footer">
        <div class="stats">
          <button class="btn btn-primary" onclick="resetZoom(chart1)">réinitialiser le zoom</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-lg-6 col-sm-12 h-100">
    <div class="card card-chart col-12">
                <div class="card-header card-header-primary">
                  <h4 class="card-title font-weight-bold">Répartition des différentes températures en pourcentage</h4>
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">

<!--                  <p class="card-category">Last Campaign Performance</p>-->
                  <div class="row">
      <div class="row align-items-center col-6">
        <div class="col-12">
    <div class="card card-chart m-0">
      <div class="card-header card-header-primary m-0" style="background: linear-gradient(60deg, #2E3436, #000000);">
        <h4 class="font-weight-bold">Jour</h4>
		<canvas height="200" id="canvas3" data-url="{% url 'bar result' %}"></canvas>
      </div>
    </div>
  </div>
        <div class="col-12">
    <div class="card card-chart">
      <div class="card-header card-header-primary m-0" style="background: linear-gradient(60deg, #2E3436, #000000);">
        <h4 class="font-weight-bold">Mois courant</h4>
		<canvas height="200" id="canvas5" class="p-0"></canvas>
      </div>
<!--      <div class="card-body">-->
<!--        <h4 class="card-title">Pourcentage des températures au cours du mois</h4>-->
<!--        <p class="card-category">-->
<!--      </div>-->

    </div>
          <div class="row">
        <button class="btn btn-success" onclick="ajaxRepartition()">Mise à jour <i class="material-icons">refresh</i></button>
      </div>
  </div>

      </div>
    <div class="row align-items-center col-6">


      <div class="col-12">
    <div class="card card-chart">
      <div class="card-header card-header-primary" style="background: linear-gradient(60deg, #2E3436, #000000);">
		<h4 class="font-weight-bold">Année en cours</h4>
        <canvas height="200" id="canvas4" data-url="{% url 'bar result' %}"></canvas>
      </div>
    </div>
  </div>
    </div>
    </div>
     </div>
    </div>



  </div>

</div>


<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header" style="background: linear-gradient(60deg, #2E3436, #000000);">
		<canvas id="canvas2" data-url="{% url 'temp_all_api' %}?filter=year"></canvas>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Température annuelle</h4>
        <p class="card-category">
      </div>
      <div class="card-footer">
        <div class="stats">
          <button class="btn btn-primary" onclick="resetZoom(chart2)">réinitialiser le zoom</button>
          <button class="btn btn-success" onclick="ajaxYearHistory()">Mise à jour <i class="material-icons">refresh</i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modals-->
<div class="modal" id="limiteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/dashboard/">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Entrer les plages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="text-primary">Température normale</label>
          <div class="input-group">
            <input  type="text" name="a" required placeholder="a" id="a" value="{{limits.0}}" class="form-control">
            <input type="text" name="b" required value="{{limits.1}}" onchange="bb.value=this.value" placeholder="b"  class="form-control">
          </div>
             <small class="form-text text-muted">a&lt;T1&lt;b</small>
          </div>

        <div class="form-group">
          <label class="text-primary">Température Idéal</label>
          <div class="input-group">
            <input  type="text" name="ideal" required placeholder="a" id="ideal" value="{{limits.4}}" class="form-control">
          </div>
          </div>

        <div class="form-group">
          <label class="text-primary">Température Alarme1</label>
          <div class="input-group">
            <input type="text" name="bb" disabled value="{{limits.1}}" placeholder="b"  class="form-control">
            <input type="text" name="c" required  onchange="cc.value=this.value" value="{{limits.2}}" placeholder="c" aria-label="a" class="form-control">
          </div>
             <small class="form-text text-muted">b&lt;T2&lt;c</small>
          </div>

        <div class="form-group">
          <label class="text-primary">Température Arrêt</label>
          <div class="input-group">
            <input name="cc" disabled type="text" value="{{limits.2}}" placeholder="c" aria-label="a" class="form-control">
            <input type="text" name="d" required placeholder="d" value="{{limits.3}}" aria-label="b" class="form-control">
          </div>
             <small id="emailHelp" class="form-text text-muted">c&lt;T3&lt;d</small>
          </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer les changements</button>
      </div>
        </div>
        </form>
  </div>
</div>
</div>

<div class="modal" id="margeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/dashboard/">
        {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Entrer le seuil de stockage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <input type="text" value="{{marge}}" name="marge" class="form-control">
             <small class="form-text text-muted">Par défaut 0.5</small>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer les changements</button>
      </div>
        </div>
        </form>
  </div>
</div>
</div>
<script type="text/javascript">
    var queryset = JSON.parse('{{queryset|safe}}');
    var LIMITS = ['{{limits.0}}', '{{limits.1}}', '{{limits.2}}', '{{limits.3}}', '{{limits.4}}'];
    var barData = {{barData}};
</script>
<script src="{% static 'repartitioncharts.js'%}"></script>
<script src="{% static 'chartyearline.js'%}"></script>
<script src="{% static 'mainscript.js'%}"></script>
<script src="{% static 'dashboard.js'%}"></script>
{% endblock %}