{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block header %}
{% endblock %}
{% block content %}


<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="card card-stats" style="background: linear-gradient(60deg, #2E3436, #000000);">
                <div class="card-body">
                  <canvas id="canvas1"></canvas>
                </div>
              </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-8">
              <div class="card card-stats" style="background: linear-gradient(60deg, #2E3436, #000000);">
                <div class="card-body">
                  <canvas id="canvas2"></canvas>
                </div>
              </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-8" >
              <div class="card card-stats" style="background: linear-gradient(60deg, #2E3436, #000000);">
                <div class="card-body">
                  <canvas id="canvas3"></canvas>
                </div>
              </div>
  </div>

</div>


<div class="row">
    <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title font-weight-bold">Historique Plages température selon besoin</h4>
                </div>
                  <div class="card-body">
                      <h5 class="text-primary">
                          Choix automatique
                      </h5>
                      <div class="ml-3 mb-3">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label onclick="filter2('day')" class="btn btn-primary {% if request.GET.filter == 'day' %}active{% endif %}">
                            <input type="radio" onclick="filter2(this.value)" name="options" value="day" id="option1"> Aujourd'hui
                          </label>
                          <label onclick="filter2('week')" class="btn btn-primary {% if request.GET.filter == 'week' %}active{% endif %}">
                            <input type="radio" name="options" value="week" id="option2">  Semaine
                          </label>
                          <label onclick="filter2('month')" class="btn btn-primary {% if request.GET.filter is None or request.GET.filter == 'month' %}active{% endif %}">
                            <input type="radio" name="options" value="month" id="option3"> Mois
                          </label>
                          <label onclick="filter2('year')" class="btn btn-primary {% if request.GET.filter == 'year' %}active{% endif %}">
                            <input type="radio" name="options" value="year" id="option4"> Année
                          </label>
                        </div>
                        </div>
                      <h5 class="text-primary">
                          Choix Utilisateur {{request.GET.filter}}
                      </h5>
                      <div class="ml-3 p-3" style="border: 1px solid grey;">
<!--                      <form>-->
                      <div>
                          <div class="form-group">
                        <label for="datetimepicker1"><i class="fa fa-calendar"></i> Date début</label>

                        <input required class="form-control" type="date" id="datetimepicker1">
                        <input required class="form-control" type="time" id="datetimepicker_1" value="00:00">

                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="datetimepicker2"><i class="fa fa-calendar"></i> Date Fin</label>
                       <input class="form-control" type="date" id="datetimepicker2">
                        <input class="form-control" type="time" id="datetimepicker_2" value="00:00">
                    </div>
                </div>
                      <button onclick="filter(event)" id="filter" class="btn btn-warning">Appliquer</button>
<!--                          </form>-->
                      </div>
                  </div>
              </div>
</div>
</div>
<div class="row">
  <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title font-weight-bold">Historique Plages températures</h4>
                  <p class="card-category font-weight-bold"> Les plages de différentes températures</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary thead-light">
                        <th class="font-weight-bold">
                          Plages
                        </th>
                        <th class="font-weight-bold">
                          Date début
                        </th>
                        <th class="font-weight-bold">
                          Date Fin
                        </th>
                        <th class="font-weight-bold">
                          Durée
                        </th>
                      </thead>
                      <tbody style="height:400px; overflow: scroll;">
                      {% for item in data %}

                        <tr class="{% if item.0 == 0 %}bg-success{% else %}
                        {% if item.0 == 1%}tr-orange
                        {% else %}
                        {% if item.0 == 2%}bg-danger
                        {% endif %}{% endif %}{% endif %} text-dark">
                          <td>
                            {{item.1}}
                          </td>
                          <td>
                            {{item.2|date:'d M Y H:i:s'}}
                          </td>
                          <td>
                            {{item.3|date:"d M Y H:i:s"}}
                          </td>
                          <td>
                            {{ item.4|localefr }}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
  </div>
</div>
<script>
    var barData = {{barData}};
</script>
<script src="{% static 'chartbar.js'%}"></script>
<!--<script type="text/javascript">-->
<!--    var queryset = JSON.parse('{{queryset|safe}}');-->
<!--    var LIMITS = ['{{limits.0}}', '{{limits.1}}', '{{limits.2}}', '{{limits.3}}', '{{limits.4}}'];-->
<!--</script>-->
<!--<script src="{% static 'repartitioncharts.js'%}"></script>-->
<!--<script src="{% static 'chartyearline.js'%}"></script>-->
<!--<script src="{% static 'chartstackbar.js'%}"></script>-->
<!--<script src="{% static 'mainscript.js'%}"></script>-->
{% endblock %}